<%# can implement bootstrap here %>
<h3>Basic Patient Info.</h3>
<%= "First Name:#{@patient.first_name}" %><br>
<%= "Last Name:#{@patient.last_name}" %><br>
<%= "Insurance:#{@patient.insurance}" %>

<%= link_to "Add Appointment",  new_patient_appointment_path%>
<%= link_to "Delete", patient_path(@patient), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%= link_to "Edit", edit_patient_path%>

<h3>Appointments</h3>

<% @patient.appointments.each do |appointment| %>
        <div>
          <%= "Appointment Date: #{appointment.date}"%><br>
          <%= "Doctor: #{appointment.doctor}"%><br>
        </div>
        <hr>
<% end %>
