<h1>This is the show file and shows a single doctor</h1>


<h2>Doctor Basic Info.</h2>
<div class="mb-3">
  <%= "Title: #{@doctor.title}"%><br>
  <%= "First Name: #{@doctor.first_name}"%><br>
  <%= "Last Name: #{@doctor.last_name.capitalize}"%><br>
  <%= "Specialty: #{@doctor.specialty}"%>
</div>
<%= link_to "Edit", edit_doctor_path, class:"btn btn-secondary btn-lg"%>
<%= link_to "Delete", doctor_path(@doctor), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-warning btn-lg" %>

<h2 class="mt-5 mb-3">Doctor Education Info.</h2>
<% @doctor.educations.each do |education| %>
        <div class="mb-3">
          <%= "University: #{education.university}"%><br>
          <%= "Degree Name: #{education.degree_name}"%><br>
          <%= "Score: #{education.score}"%>
        </div>
<%= link_to "Edit", edit_doctor_education_path(@doctor, education.id), class:"btn btn-secondary btn-lg"%>
        <hr>
<% end %>


<h2 class="mt-5 mb-3">Doctor Patient Info.</h2>
<div class="doctor_patient_grid">

<% @doctor.appointments.each do |appointment| %>
        <div class="patient_card">
          <%= "Patient Name: #{appointment.patient.first_name} #{appointment.patient.last_name}"%><br>
        </div>
<% end %>
</div>
